<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Admin</h1>
        {{# if hasErrors }}
            {{# each messages }}
                <div class="alert alert-danger"> <p>{{this}}</p></div>
            {{/each}}
        {{/if}}
        <form action="/admin/admin-login" method="POST">
             <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="fullname@gmail.com" required>
            </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" class="form-control" required>
            </div>
            <input type="hidden" name="_csrf" value="{{ token }}">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <br>
        <h2>Try to login</h2>
        <h5>Email: maheshm@m.com</h5>
        <h5>password: mahesh</h5>
    </div>
</div>
